@model string
@using Application.PublicModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Application

<form asp-controller="Setadi" asp-action="DeleteSetadi">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف ستادی" })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    <input type="hidden" name="redirecturl" value="@Url.Action("index","Setadi")" />


    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف ستادی" })

</form>    