@model Application.Models.ViewModels.ChangePasswordViewModel
@using Application.PublicModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Application

<form asp-controller="User" asp-action="ChangePassword" id="adduser" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#adduser" data-ajax-mode="replace">

    @*header*@

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش" })

    @*body*@
    <div class="modal-body form-horizontal">
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="NewPassword" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <input type="hidden" name="redirecturl" value="@Url.Action("index","User")" />

    @*footer*@

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش" })

</form>

